.card{
    background-color:antiquewhite;
    border: none;
    height: auto;
    width: 15rem; 
    border-radius: 0.5rem;
    margin: 2rem;
    margin-left: 3rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center; 
    padding-bottom: 1rem;
    position: relative;
   
}

.box img{
    height: 12rem;
    width: 15rem; 
    border: none;
    border-radius: 0.5rem 0.5rem 0 0;
}

.box1 img{
    height: 4rem;
    width: 4rem;
    border-radius: 10px;
    position: absolute;
    top: 0;
    right:0;   
}

.details h4{
    font-weight: bolder;
}

.cross {
    background-color: rgb(100, 91, 91);
    color: wheat;
    height: 2rem;
    width: 2rem;
    top: 0;
    left: 0;
    display: flex;
    font-size: large;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: absolute;
    padding: 10px;
}

 