.form-wrapper{
    margin: 0 auto;
    width: 400px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 5rem;

}
  
form div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
    
}

input, .origin {
    height: 2rem;
    margin-top: 0.5rem;
}

h2 {
    margin-left: 2rem;
}

.ing {
    display: flex;
    flex-direction: row;
    margin: 0;
    margin-left: 0.3rem; 
}

.bkt{
    margin-left: 0;
}

.addMore {
    padding: 10px;
    width: 8rem;
    background-color: rgb(253, 180, 72);
    border-radius: 5px;
}

textarea{
    margin-top: 0.5rem; 
}

#submit{
    padding: 10px;
    width: 8rem; 
    margin-left: 2rem; 
    background-color: rgb(253, 180, 72);
    border-radius: 5px;
}


  