@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body{
    margin: 0 auto;
}
.container {
    background-color: black;
    font-family: 'Darumadrop One', cursive;
    min-height: calc(80vh - 130px);
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: x-large;
    font-weight:bolder;
    color: rgb(100, 124, 50); 
    position: relative;
}

.container video{
    position: absolute;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    object-fit: cover;


}
.thoughts {
    margin: 10rem  10rem 10rem 10rem;
    z-index: 0;
    text-align: left;
}

.thoughts button {
    background-color: rgb(100, 91, 91);
    color: wheat;
    padding: 6px;
    border: none;
    font-size: large;
    border-radius: 3px;
    margin-left: 5rem;
    margin-top: 2rem;
}

h2{
    font-weight:300;
    
}

h3{
    font-weight:bold;

}

p{
    line-height: 1.5;
    font-weight: 500;
}

.list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

section{
    display: flex;
    justify-content: space-around;
}

.bag{
    min-height: 20vh;
    background-color: antiquewhite;
    width: 25rem;
    padding: 1rem;
    padding-top: 0;
    border-width: thin;
    border-radius: 5px;
    position: relative;
    margin-bottom: 5rem;
    box-shadow: 3px 3px 3px 3px rgb(160, 129, 129);
}

.NavLink{
    color: rgb(80, 76, 76);
    text-decoration: none;
    font-weight: bold; 
    position: absolute; 
    bottom: 0;  
    padding-bottom: 0.5em;
}

.NavLink:hover{
    color: rgb(161, 169, 0);
    text-decoration: none;
}

