@import url("https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap");


.container {
    font-family: 'Darumadrop One', cursive;
    border :solid rgb(36, 35, 35);
    height: calc(80vh - 130px);
    background: url('https://thumbs.dreamstime.com/b/abstract-food-background-top-view-dark-rustic-kitchen-table-wooden-cutting-board-cooking-spoon-frame-banner-137304354.jpg');
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: xx-large;
    color: rgb(217, 249, 146);   
}
.container h2 {
    margin-left: 25rem;
}

button {
    background-color: rgb(100, 91, 91);
    color: wheat;
    padding: 6px;
    border: none;
    font-size: large;
    border-radius: 3px;
}

h2{
    font-weight:300;
    
}

h3{
    font-weight:350;  
}

p{
    line-height: 1.5;
}

.list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

section{
    display: flex;
    justify-content: space-around;
}

.bag{
    height: 20vh;
    width: 25vw;
    padding: 1rem;
    padding-top: 0;
    border: solid;
    border-width: thin;
    border-radius: 5px;
    position: relative;
}

.NavLink{
    color: rgb(237, 231, 231);
    text-decoration: none;
    font-weight: bold; 
    position: absolute; 
    bottom: 0;  
    padding-bottom: 0.5em;
}

.NavLink:hover{
    color: black;
}