.recipeList {
    display: flex;
    flex-direction: column;
   
}

h1{
    text-align: center;
    font-weight: 500;
} 


.cards {
   display: flex; 
   flex-wrap: wrap;
   justify-items: center;
   justify-content: space-between;
   margin: 0 15rem 5rem 15rem ;
}
.search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.search input {
    width: 15rem;
    padding: 5px;
    font-size: large;
    border-radius: 5px;
    border-width: thin;   
}

.search h1{
    font-weight:300;
    margin-top: 3rem;
}
 button{
    background-color: rgb(100, 91, 91);
    color: wheat;
    padding: 6px;
    border: none;
    font-size: large;
    border-radius: 3px;
   
 }

.noRecipe {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20rem;
    width: 100%;
    text-align: center;
}
 
.noRecipe a {
    text-decoration: none;
    color: rgb(4, 4, 74);
} 