.recipeDetail{
    background-color: gold;
    border: solid;
    height: 50rem;
    width: 30rem; 
    border-radius: 0.5rem;
    margin: 2rem;
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-bottom: 1rem; 
    position: relative; 
}


.recipeDetail img{
    height: 30rem;
    width: 30rem;
   
    
}

.flag img{
    height: 4rem;
    width: 4rem;
    border-radius: 10px;
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 0;
    left:0;
    
}