.header {
    background-color: rgb(61, 61, 61);
    font-weight: bold;
    color: rgb(241, 92, 92);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    position: sticky;
    z-index: 1;
    top: 0;
    height: 1rem;
   
}

.Nal{
    text-decoration: double;
    color: rgb(241, 92, 92); 
}

.Nal:hover{
    text-decoration: none;
}

